<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Forgot Password - QuizMaster</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<section class="login-section">

    <div class="login-card">

        <div class="admin-icon">
            🔐
        </div>

        <p class="small-heading">
            QUIZMASTER
        </p>

        <h1>
            Forgot Password?
        </h1>

        <p>
            Enter your registered email address.
        </p>


        {% if error %}

        <div class="error-message">
            {{ error }}
        </div>

        {% endif %}


        <form method="POST">

            <div class="form-group">

                <label for="email">
                    Registered Email
                </label>

                <input
                    type="email"
                    id="email"
                    name="email"
                    placeholder="Enter your email"
                    required
                >

            </div>


            <button
                type="submit"
                class="login-btn">

                Continue →

            </button>

        </form>


        <a
            href="{{ url_for('login') }}"
            class="back-home">

            ← Back to Login

        </a>

    </div>

</section>

</body>

</html>